<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorian Gray Quest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="backgroundLayer"></div>
    <div id="gameContainer">
        <h1 class="title">The Quest of Dorian Gray</h1>
        <div id="storyText" class="story-text"></div>
        <div id="options" class="options-container"></div>
    </div>
    <canvas id="gameCanvas" width="800" height="600" style="display: none;"></canvas>
    <div id="valentinesOverlay" class="hidden">
        <div class="heart-container">
            <div class="heart"></div>
        </div>
        <div class="valentine-message">
        </div><h2>Happy Valentine's Day 👨‍❤️‍👩 </h2>
            <h1>Camille 🍀 </h1>
            <p> This mini-game was made for you ams, in honnor of your favourite author. </p>
            <p> The code is almost only IA made but the story took me some efforts during my classes. </p>
            <p> I hope you'll like it. </p>

        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
